.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  height: 200px;
}

.spinner {
  border: 4px solid rgb(0, 0, 0, 0.9);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: transparent;
  align-items: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cargando {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
